
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="last-modified" content="2014-05-25T14:03:28.7487175-04:00" />
    <meta name="keywords" content=".Net,AngularJs,Javascript,Opensource,Software Development" />
    <title>johanilsson.com</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="canonical" href="http://www.johanilsson.com/" />
</head>
<body class="home blog">
    <div id="page" class="hfeed site">
        <header id="masthead" class="site-header" role="banner">
            <hgroup>
            </hgroup>
            <nav role="navigation" class="site-navigation main-navigation">
                <h1 class="assistive-text">Menu</h1>
                <div class="assistive-text skip-link"><a href="#content" title="Skip to content">Skip to content</a></div>
                <div class="menu">
                    <small>
                        <a href="https://github.com/dashue" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://github.com']);">GitHub</a>
                        <a href="https://www.goodreads.com/user/show/18905539-johan-nilsson" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','https://www.goodreads.com/user/show/18905539-johan-nilsson']);">Goodreads</a>
                        <a href="http://www.linkedin.com/in/dashu" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://www.linkedin.com']);">LinkedIn</a>
                        <a href="http://stackoverflow.com/users/651787/dashu" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://stackoverflow.com']);">Stack Overflow</a>
                        <a href="https://twitter.com/johanilsson" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://twitter.com']);">Twitter</a>
                    </small>
                    <br/>
                      <small>
                        <a href="/" class="home"><i class="fa fa-home"></i></a>
                        <a href="/about">About</a>
                        <a href="/archive">Archive</a>
                        <a href="/category">Categories</a>
                        <a href="http://feeds.feedburner.com/johanilsson">Feed</a>
                    </small>
                </div>
            </nav>
        </header>
        <div id="main">
            <div id="primary" class="site-content">
                <div id="content" role="main">
                  

  <ul class="posts">
    <li class="post">
      <h1><a href="/2014/05/a-little-gem-called-hashset/">A little gem called Hashset</a></h1> 
      
      <h2>Introduction</h2>

<p>Every know and then I stumble upon the Dictionary being used for keeping track of uniqueness. One example usage I recently encountered was keeping identifying weather a message had been published already, alternatively had been received by the subscriber.</p>

<p>An example of how this would look using Dictionary:</p>

<pre><code>var dictionary = new Dictionary&lt;TKey, bool&gt;();
if(false == dictionary.ContainsKey(key))
{
    // Mark identifier as handled
    dictionary.Add(key, true);

    // Do stuff
}
</code></pre>

<p>In this case the Dictionary allows for an unnecessary extra dimension in the form of a <strong>Value</strong>. If the key exists, we could assume it has been handled.</p>

<h2>HashSet</h2>

<p>There there is an even more appropriate data structure, and a surprisingly large group of people haven't heard about it, called HashSet. A HashSet is like a Dictionary without the Value dimension, just the key/identifier portion.</p>

<p>HashSet has a method with the signature of bool Add(TKey), which will try to add the identifier and return a boolean wether it already existed or not.</p>

<p>An example of how this would look:</p>

<pre><code>var hashSet = new HashSet&lt;TIdentifier&gt;();
if(hashSet.Add(identifier)
{
    // Actions to take on identifier not yet handled
}
</code></pre>

<h2>Conclusion</h2>

<p>Even though Dictionary solved the problem, it added unnecessary code and computation in the form of a check for existence and an unnecessary memory comsumption for storing an extra unused value for every entry. Whereas a HashSet saves us both memory and computation. Using the right type for the problem at hand is always a good thing and becomes even more important and possibly even critical as the number of elements increase.</p>

      <!-- <p><a href="/2014/05/a-little-gem-called-hashset/">Read more...</a></p> -->
    </li>
    <hr/>
    <li class="post">
      <h1><a href="/2014/04/angularjs-eventbus/">AngularJs EventBus</a></h1> 
      
      <h2>Background</h2>

<p>A hidden little gem of angularjs is its bultin <em>EventBus</em> functionality.
Messages can be passed between controllers with ease.
There is currently two ways of passing messages: <strong>Broadcast</strong> and <strong>Emit</strong>.
The difference between them is the direction the message takes in the scope hierarchy.</p>

<h2>Using BroadCast</h2>

<p>By using BroadCast a message is transmitted downwards to all child scopes. Every scope is a child scope of root scope and because of this, performance quickly takes a hit.</p>

<pre><code>$scope.$on("EventName", function(event, data){});
$rootScope.$broadcast("EventName", data);
</code></pre>

<h2>Using Emit</h2>

<p>By using Emit a nessage is transmitted upwards to parent scopes. When using rootscope there is no parent scope, hence no bubbling and the standard functionality of a flat EventBus is achieved.</p>

<pre><code>$rootScope.$$on("EventName", function(event, data){});
$rootScope.$emit("EventName", data);
</code></pre>

<h2>Example Using Emit</h2>

<pre><code>&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;script src="http://code.angularjs.org/1.2.15/angular.js"&gt;&lt;/script&gt;
&lt;/head&gt;

&lt;body ng-app="MessageBusApp"&gt;
    &lt;div ng-controller="MainCtrl"&gt;
        Name: &lt;span&gt;{{ConfiguredName}}&lt;/span&gt;
        &lt;br/&gt;

        &lt;div ng-controller="ChildCtrl"&gt;
            Set Name: &lt;input type="text" ng-model="Name"/&gt; &lt;button ng-click="Go(Name)"&gt;Go!&lt;/button&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;script type="text/javascript"&gt;
    angular.module("MessageBusApp", [])
        .controller("MainCtrl", function ($rootScope, $scope) {
            $rootScope.$on('SayHello', function (event, name) {
                $scope.ConfiguredName=name;
            });
        })
        .controller("ChildCtrl", function ($rootScope, $scope) {
            $scope.Go = function (name) {
                $rootScope.$emit('SayHello', name);
            }
        });
    &lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>

<h2>Conclusion</h2>

<p>Since a flat EventBus is faster than potential propagation through child scopes, <strong>Emit is the recommended way</strong>.</p>

      <!-- <p><a href="/2014/04/angularjs-eventbus/">Read more...</a></p> -->
    </li>
    <hr/>
    <li class="post">
      <h1><a href="/2013/12/making-angularjs-directives-re-usable-by-passing-parameters/">Making angularjs directives re-usable by &quot;Passing parameters&quot;</a></h1> 
      
      <p>To make software components re-usable, it's required that no data be hard-coded. This can be achieved by passing parameters. There are different ways to do this and in angularjs directives one way is by binding variables to the scope. There are three different ways to bind, so called "Binding strategies". They are the following:</p>

<pre><code>@ : Binds to the value as a string
= : Binds to a property
&amp; : Binds to a function that can be called later
</code></pre>

<p>If binding from and to the same name, the name can be omitted like so:</p>

<pre><code>name: '@name'
name: '@
</code></pre>

<p>I've created a menu directive which we will refactor into utilizing all of these binding techniques. The menu has some hard-coded values namely <em>a title, two menu items with a text and a url, and an action that triggers when clicking an item.</em> The example is structured into four components, a view, a controller, a directive and a template. We will only be modifying the view, controller and directive in this example. Starting out they look like the following:</p>

<p><strong>View:</strong></p>

<pre><code>&lt;div ng-controller="AngularMenuCtrl"&gt;
    &lt;menu /&gt;
&lt;/div&gt;
</code></pre>

<p><strong>Controller:</strong></p>

<pre><code>module.controller('AngularMenuCtrl', function () {
});
</code></pre>

<p><strong>Template:</strong></p>

<pre><code>&lt;div class="menu"&gt;
    &lt;span&gt;{{title}}&lt;/span&gt;
    &lt;ul&gt;
        &lt;li ng-repeat="item in items" 
            ng-class="{selected: $index==selectedIndex}" 
            ng-click="Click($index)"&gt;{{item.Text}}&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
</code></pre>

<p><strong>Directive:</strong></p>

<pre><code>app.directive("menu", function () {
    return {
        restrict: 'E',
        templateUrl: '/Menu.html',
        link: function (scope) {
            scope.title= 'Menu';

            scope.items= [
                    { Text: 'Item 1', Value: 'Url1' },
                    { Text: 'Item 2', Value: 'Url2' }
            ];

            scope.Click = function (index) {
                scope.selectedIndex = index;
                alert("Transitioning to " + scope.items[index].Value);
            };
         }
     };
});
</code></pre>

<p>Let's start off with having the title be specified in the view by adding an html attribute called <strong>title</strong>.</p>

<pre><code>&lt;menu title="Menu"/&gt;
</code></pre>

<p>We then remove the title assignment in the link function of our directive. And add the scope object to our directive and bind the title property to the string representation of our html attribute 
<em>title</em> using the <strong>@</strong> binding. Remember that <strong>since we bind the html attribute 'title' to the directives' scope property 'title', we can omit the name and just use @ instead of @title</strong></p>

<pre><code>app.directive("menu", function () {
    return {
        restrict: 'E',
        templateUrl: '/Menu.html',
        scope: { title: '@' },
        link: function (scope) {
            scope.items= [
                    { Text: 'Item 1', Value: 'Url1' },
                    { Text: 'Item 2', Value: 'Url2' }
            ];
            scope.Click = function (index) {
                scope.selectedIndex = index;
                alert("Transitioning to " + scope.items[index].Value);
            };
         }
     };
});
</code></pre>

<p>Since the menu entries will almost always be different, let's go ahead and make them configurable by moving them to our menu controller. That way different menus can have different surrounding menu controllers. We'll do this by introducing a scope property named <em>items</em> and bind our html attribute with the same name to this new property. </p>

<pre><code>&lt;menu title="Menu" items="items"/&gt;

module.controller('AngularMenuCtrl', function ($scope) {
     $scope.items = [
           { Text: 'Item 1', Value: 'Url1' },
           { Text: 'Item 2', Value: 'Url2' }];
});
</code></pre>

<p>We then bind this new attribute to our directives' scope using <strong>=</strong>. And also remove the existing hard-coded menu items in the directive.</p>

<pre><code>app.directive("menu", function () {
    return {
        restrict: 'E',
        templateUrl: '/Menu.html',
        scope: {
            title: '@',
            items: '='
        },
        link: function (scope) { 
            scope.Click = function (index) {
                scope.selectedIndex = index;
                alert("Transitioning to " + scope.items[index].Value);
            };
         }
     };
});
</code></pre>

<p>With two out of three objectives achieved the only thing left in our example is the hard-coded click functionality. For the click functionality we want the selection of the active menu item (and any other core menu functionality) to be re-used and at the same time allow for some custom user specified functionality to be run (in our case: alerting which url we are transitioning to).</p>

<p>Let's take the same approach we took for our menu items: We first create an <em>AlertTransition</em> function on the controller scope and move the alert functionality over from the directive:</p>

<pre><code>module.controller('AngularMenuCtrl', function ($scope) {

    $scope.items = [
           { Text: 'Item 1', Value: 'Url1' },
           { Text: 'Item 2', Value: 'Url2' }
    ];

    $scope.AlertTransition = function(index) {
        alert("Transitioning to " + $scope.items[index].Value);
    };
});
</code></pre>

<p>We then bind this in our view, but note that this time the name of the html attribute and scope property are not the same, showing that they can be different.</p>

<pre><code>&lt;menu title="Menu" items="items" click="AlertTransition(index)"/&gt;
</code></pre>

<p>We then bind the click html attribute to our directives' scope using the <strong>&amp;</strong> binding. This will pass a reference to a function to our directive that we can then invoke in our menu click function. </p>

<pre><code>   app.directive("menu", function () {
    return {
        restrict: 'E',
        templateUrl: '/Menu.html',
        scope: {
            title: '@',
            items: '=',
            click: '&amp;'
        },
        link: function (scope) {
            scope.Click = function (index) {
                scope.selectedIndex = index;
                scope.click({ index: index });
            };
        }
    };
});
</code></pre>

<p>One tricky thing when invoking a function bound using <strong>&amp;</strong>, is that the parameters have to be passed in the form of an object:</p>

<pre><code>{ parameterName: value }
</code></pre>

<p>And with this last step we have a fully working Menu directive ready for re-use :)<br />
<a href="https://github.com/Dashue/Blogging/tree/master/Making_angularjs_directives_re_usable_by_passing_parameters">Get the code for this sample</a></p>

      <!-- <p><a href="/2013/12/making-angularjs-directives-re-usable-by-passing-parameters/">Read more...</a></p> -->
    </li>
    <hr/>
    <li class="post">
      <h1><a href="/2013/12/locking-made-easy/">Locking made easy</a></h1> 
      
      <p>With todays increase in multithreaded solutions locking are more and more often becoming a requirement. Without a clear seperation between business code and locking code it's very easy to get locking wrong and end up with an tangled mess of code.</p>

<p>The most common issues I've seen with locking solutions are:</p>

<ul>
<li>Having a Shared syncroot for multiple non-related data
<ul>
<li>Can lead to unnecessary and costly synchronization</li>
<li>Can lead to deadlocks</li>
</ul></li>
<li>Having no visibility where locks are retrieved or set (i.e locks are acquired in multiple locations)
<ul>
<li>Leads to hard to read code</li>
<li>Can lead to deadlocks</li>
<li>Can lead to unlocked access of data </li>
</ul></li>
</ul>

<p>So to remedy this, I came up with a simple piece of base that I call LockBase:</p>

<pre><code>private readonly object _syncRoot;

    public LockBase()
    {
        _syncRoot = new object();
    }

    public void WithLock(Action action)
    {
        lock (_syncRoot)
        {
            action.Invoke();
        }
    }

    public T WithLock&lt;T&gt;(Func&lt;T&gt; action)
    {
        lock (_syncRoot)
        {
            return action.Invoke();
        }
    }
}
</code></pre>

<p>I'm mostly using this to build specific caches. Something along the lines of this:</p>

<pre><code>public class MyCache : LockBase
{
    private Dictionary&lt;int, string&gt; _cache = new Dictionary&lt;int, string&gt;();

    public string Get(int key)
    {
        return WithLock(() =&gt; _cache[key]);
    }

    public void Set(int key, string value)
    {
        WithLock(() =&gt; _cache[key] = value);
    }

    public bool Contains(int key)
    {
        return WithLock(() =&gt; _cache.ContainsKey(key));
    }
}
</code></pre>

<p>Hope it helps</p>

      <!-- <p><a href="/2013/12/locking-made-easy/">Read more...</a></p> -->
    </li>
    <hr/>
    <li class="post">
      <h1><a href="/2013/11/configurationsection-a-testable-and-dependable-configuration-solution/">ConfigurationSection &quot;A testable, dependable configuration solution&quot;</a></h1> 
      
      <p>I wanted to share a way of handling application configuration that have helped me alot. It leverages <a href="http://msdn.microsoft.com/en-us/library/system.configuration.configurationsection(v=vs.110).aspx">ConfigurationSection</a> and gives you the possiblility to test-drive your application settings. Let's jump in!</p>

<h2>The basic scenario</h2>

<p>Given an App.Config file with the following contents. (<strong>Make sure you align the type property to your solution</strong>)</p>

<pre><code>&lt;configuration&gt;
    &lt;configSections&gt;
        &lt;section name="MyConfiguration" type="My.Namespace.MyConfiguration, My.Assembly"/&gt;
    &lt;/configSections&gt;

    &lt;MyConfiguration Age="25" Name="Name" DayOfBirth="Monday" /&gt;
&lt;/configuration&gt;
</code></pre>

<p>In tdd fashion, let's start out with the test. Normally I would add one property at a time to get a short red-green cycle, but for the sake of keeping down the size of this post we will add all of them at once.</p>

<pre><code>[Fact]
public void ReadMyConfiguration()
{
    IMyConfiguration configuration = MyConfiguration.Get();

    Assert.Equal(25, configuration.Age);
    Assert.Equal("Name", configuration.Name);
    Assert.Equal(DayOfWeek.Monday, configuration.DayOfBirth);
}
</code></pre>

<p>For demonstration purpose we read a number, a string and an enumeration. Let's go ahead and specify what will be our contract: IMyConfiguration.</p>

<pre><code>public interface IMyConfiguration
{
    int Age { get; }
    string Name { get; }
    DayOfWeek DayOfBirth { get; }
}
</code></pre>

<p>Heading back to the test we see that the only thing left to implement is the MyConfiguration class. Let's add the following implementation.</p>

<pre><code>public class MyConfiguration : ConfigurationSection, IMyConfiguration
{
    private MyConfiguration() {}

    public static IMyConfiguration Get()
    {
        return (IMyConfiguration)ConfigurationManager.GetSection("MyConfiguration");
    }

    [ConfigurationProperty("Age", IsRequired = true)]
    public int Age
    {
        get
        {
            return (int)this["Age"];
        }
    }

    [ConfigurationProperty("Name", IsRequired = true)]
    public string Name
    {
        get
        {
            return (string)this["Name"];
        }
    }

    [ConfigurationProperty("DayOfBirth", IsRequired = true)]
    public DayOfWeek DayOfBirth
    {
        get
        {
            return (DayOfWeek)this["DayOfBirth"];
        }
    }
}
</code></pre>

<p>We make the default constructor private to expose only one way of instantiating the class. This step should leave you with a passing test.</p>

<h2>Enums</h2>

<p>Did you notice how cleanly the enumeration was supplied to us, no explicit calls to TryParse needed. What's also nice is that we get descriptive feedback if we were to misstype the value of an enum. For example changing the DateOfBirth to be misspellt "Mnoday" gives the following exception:</p>

<pre><code>The value of the property 'DayOfBirth' cannot be parsed. 
The error is: The enumeration value must be one of the following: 
Sunday, Monday, Tuesday, Wednesday, Thursday, Friday, Saturday
</code></pre>

<h2>Required</h2>

<p>We will also be given an exception for any missing properties that are marked as required.</p>

<pre><code>Required attribute 'Age' not found.
</code></pre>

<h2>Moving on to the marginally more advanced stuff</h2>

<h2>Multiple Values</h2>

<p>Sometimes storing and fetching individual values are not enough and the usage of lists of values are required. Leveraging the configuration section approach makes it really simple.</p>

<p>The following is my preferred way of storing multiple values, it's quick and simple.</p>

<pre><code>&lt;MyConfiguration MyStrings="value1,value2,value3" /&gt;

[ConfigurationProperty("MyStrings", IsRequired = true)]
[TypeConverter(typeof(CommaDelimitedStringCollectionConverter))]
public IEnumerable&lt;string&gt; MyStrings
{
    get
    {
        return ((CommaDelimitedStringCollection)this["MyStrings"]).Cast&lt;string&gt;();
    }
}   
</code></pre>

<h2>TypeConverters</h2>

<p>Did you notice the use of the TypeConverter of type <strong>CommaDelimitedStringCollectionConverter</strong> in the previous example? This is just one of many converters provided by the framework. The following is a list of all the converters I was able to find. I'll leave it up to you to tinker around and figure out which ones can be useful to your configurations.</p>

<ul>
<li>ArrayConverter</li>
<li>BooleanConverter</li>
<li>ByteConverter</li>
<li>CharConverter</li>
<li>CollectionConverter</li>
<li>CommaDelimitedStringCollectionConverter</li>
<li>ComponentConverter</li>
<li>CultureInfoConverter</li>
<li>DateTimeConverter</li>
<li>DateTimeOffsetConverter</li>
<li>DecimalConverter</li>
<li>DoubleConverter</li>
<li>EnumConverter</li>
<li>ExpandableObjectConverter</li>
<li>ExtendedProtectionPolicyTypeConverter</li>
<li>GenericEnumConverter</li>
<li>GuidConverter</li>
<li>InfiniteIntConverter</li>
<li>InfiniteTimeSpanConverter</li>
<li>Int16Converter</li>
<li>Int32Converter</li>
<li>Int64Converter</li>
<li>MultilineStringConverter</li>
<li>NullableConverter</li>
<li>ReferenceConverter</li>
<li>SByteConverter</li>
<li>SingleConverter</li>
<li>StringConverter</li>
<li>TimeSpanConverter</li>
<li>TimeSpanMinutesConverter</li>
<li>TimeSpanMinutesOrInfiniteConverter</li>
<li>TimeSpanSecondsConverter</li>
<li>TimeSpanSecondsOrInfiniteConverter</li>
<li>TypeConverter</li>
<li>TypeNameConverter</li>
<li>UInt16Converter</li>
<li>UInt32Converter</li>
<li>UInt64Converter</li>
<li>UriTypeConverter</li>
<li>WhiteSpaceTrimStringConverter</li>
</ul>

<p><a href="https://github.com/Dashue/Blogging/tree/master/ConfigurationSection_Testable_and_Maintainable">Source for this blog post can be found here</a></p>

<p>Have fun!</p>

      <!-- <p><a href="/2013/11/configurationsection-a-testable-and-dependable-configuration-solution/">Read more...</a></p> -->
    </li>
    <hr/>
    <li class="post">
      <h1><a href="/2013/10/migrating-to-sandra-snow/">Migrating To Sandra.Snow</a></h1> 
      
      <p>Having tried hosting my blog on tumblr, my own wordpress instance and wordpress online I've never been really happy. To me, writing should be simple and easy, so when I first heard of Sandra.Snow: A solution to freely host your blog on github pages with full control over everything, I jumped on it!</p>

<p>First thing I had to do was migrate my original posts (html) off of wordpress. The other people using Sandra.Snow that I know of created a Wordpress export file and manually started to migrate posts over. I on the other hand claimed "Why spend 2 hours of manual labour when I can spend two weeks to automate the process". In hindsight not the best approach :) , but from it were two open source solutions born:</p>

<p><a href="https://www.nuget.org/packages/HtmlToMarkdown.Net/">Html To Markdown.Net</a>  <em>(Apparently this didn´t exist already)</em><br />
<a href="https://github.com/Dashue/FromWordpressToSandraSnow">From Wordpress To Sandra.Snow</a></p>

<p>So in the following days I will continue to sanity-check old posts and publish them here.<br />
<a href="https://github.com/Sandra/Sandra.Snow">Fork from here</a><br />
<a href="https://jabbr.net/#/rooms/SandraSnow">Questions goes here</a></p>

      <!-- <p><a href="/2013/10/migrating-to-sandra-snow/">Read more...</a></p> -->
    </li>
    <hr/>
    <li class="post">
      <h1><a href="/2012/02/a-few-caveats-when-using-strings-in-net/">A few caveats when using Strings in .Net</a></h1> 
      
      <p>Strings in .Net are class objects and unlike value types they are stored on the heap.</p>

<p>According to msdn: <a href="http://msdn.microsoft.com/en-us/library/ee787088.aspx">http://msdn.microsoft.com/en-us/library/ee787088.aspx</a></p>

<blockquote>
  <p>Garbage collection occurs when one of the following conditions is true:</p>
  
  <ul>
  <li>The system has low physical memory.</li>
  <li>The memory that is used by allocated objects on the managed heap surpasses an acceptable threshold. This means that a threshold of acceptable memory usage has been exceeded on the managed heap. This threshold is continuously adjusted as the process runs.</li>
  <li>The GC.Collect  method is called. In almost all cases, you do not have to call this method, because the garbage collector runs continuously. This method is primarily used for unique situations and testing.</li>
  </ul>
</blockquote>

<p>Due to the second condition creating a string object can trigger garbage collection, which is costly in terms of performance. As developers we want to keep the string creation to a minimum. Since strings in .Net are immutable (manipulation results in a the creation of a new instance) means that combining two strings "string1" + "string2" results in the creation of three strings and editing a string results in creating a new one with the modification.</p>

<p>I think it's good to have the knowledge about how things work and why even though it's considered an micro optimization.</p>

      <!-- <p><a href="/2012/02/a-few-caveats-when-using-strings-in-net/">Read more...</a></p> -->
    </li>
    <hr/>
    <li class="post">
      <h1><a href="/2012/02/why-youd-want-to-place-a-shared-library-in-its-own/">Why you'd want to place a shared library in its own solution</a></h1> 
      
      <p>A situation occurred on work where we decided to refactor duplicated funtionality from two project (A and B) into a new shared library (X) DRYing things up. During this process the question of where to put X came up. I quickly answered "It's own solution" whereupon my colleague countered with the very simple yet valid question "Why" and I answered "Because" thinking it was really obvious and at the time couldn't understand why he'd even ask.</p>

<p>After work I realized this was a childish and not a very helpful answer caused by me just knowing it was a good thing to do and have never reflected upon the reason for it. So I decided to gather my thoughts and write this blog giving a better answer to his valid question.</p>

<h2>Presumptions</h2>

<ul>
<li>We will use internal Nuget feed for the library.</li>
<li>X could be placed in either A or B or separate library.</li>
</ul>

<h2>Consuming the Library</h2>

<p>Placing it in its own solution forces all projects consume it the same way, otherwise some projects would use nuget and one could use project reference. </p>

<h2>Future Changes</h2>

<p>If placed in A it would be easy to change according to requirement or quick fix for A and not think about B or any future consumers. Placing it in its own solution forces it to behave more like an independent library and less like a project reference. It makes more sense to open the solution for the library when change is needed than to open an unrelated solution containing the library.</p>

<h2>Unrelated Functionality</h2>

<p>Since the functionality is general and not related to neither A nor B, placing it in the same solution just because it's consumed by them is not a valid argument.</p>

<h2>Versioning</h2>

<p>The library has different release/deploy cycles than the consumers and using Nuget allows for choosing what version and if/when to upgrade. Different consumers can easily consume different versions of the library. </p>

<h2>YAGNI</h2>

<p>YAGNI was mentioned as an argument against placing X in its own library. I think developers are to fast to throw abbreviations as arguments thinking they are valid without actually considering the situation at hand, but this is material for a future post.</p>

      <!-- <p><a href="/2012/02/why-youd-want-to-place-a-shared-library-in-its-own/">Read more...</a></p> -->
    </li>
    <hr/>
    <li class="post">
      <h1><a href="/2012/01/photoutil-v1-0-0-1-aka-speeding-up-a-c-project/">PhotoUtil v1.0.0.1 aka Speeding up a c# project</a></h1> 
      
      <p>I was investigating why my hobby project <a href="https://github.com/Dashue/MediaOrganizer">"PhotoUtil"</a> was being slow.
A program that takes a folder with a bunch of photos as inputs, processes the metadata from them, more specifically the date the picture was taken and then organizes them in folders based on this.</p>

<p>Following is a short recap of that procedure.</p>

<h2>Find out what's taking time 1: Analyze / Launch Performance Wizard</h2>

<p>The first thing that popped out at me was a DateTime creation which took 100% of the CPU time (according to the performance report). I grab the DateTimeOriginal value from exif metadata of a photo and convert it into datetime, only because it allowed for cleaner code when accessing the date and time values later on in the code. Apparently parsing strings into datetime is slow, so instead I got it to work with some string manipulation.</p>

<h2>Find out what's taking time 2: Analyze / Launch Performance Wizard</h2>

<p>When reading exif data using GDI+ from a file the whole image is read into memory using new Bitmap(Path); then the desired properties are fetched using GetProperty. This made me switch focus to increasing concurrent files being worked on (read parallelization) instead of minimizing process time of each file. With this in mind I rewrote my foreach loop into using the parallel library.</p>

<p>from</p>

<pre><code>foreach(var filepath in filepaths)
</code></pre>

<p>into</p>

<pre><code>Parallel.ForEach(filePaths, oldFilePath); 
</code></pre>

<h2>Taking it one step further:</h2>

<p>After finding out that the whole image is read into memory I set out to find an alternate approach of extracting EXIF data from a photo. It wasn't long before I found a sweet project called <a href="http://www.codeproject.com/Articles/36342/ExifLib-A-Fast-Exif-Data-Extractor-for-NET-2-0">ExifLib</a> on <a href="https://www.nuget.org/packages/ExifLib/">Nuget</a> which only reads the Exif data portion of an image. ExifLib is a wonderful lib created by Simon McKenzie only available as source code from codeproject.com but I'm hoping to convince him to put it up on NuGet so more people can find and make use of it.</p>

<h2>Results</h2>

<p>100 images processed on an Intel Core 2 duo</p>

<pre><code>Before optimizations:   00:00:20.8059121  
After optimizations:    00:00:11:4034511
Using ExifLib:          00:00:01.0714248
</code></pre>

      <!-- <p><a href="/2012/01/photoutil-v1-0-0-1-aka-speeding-up-a-c-project/">Read more...</a></p> -->
    </li>
    <hr/>
    <li class="post">
      <h1><a href="/2012/01/code-that-is-hard-to-be-covered-by-tests-is/">Hard tested code</a></h1> 
      
      <p>Code that is hard to be covered by tests is bug-prone and need to be redesigned to be easily coverable by easy tests.</p>

<p>Writing a complete test suite naturally leads to good design, enforcing low coupling and high cohesion.</p>

<p><a href="http://codebetter.com/patricksmacchia/2012/01/10/non-trivial-and-real-world-feedbacks-on-writing-unit-tests">http://codebetter.com/patricksmacchia/2012/01/10/non-trivial-and-real-world-feedbacks-on-writing-unit-tests</a></p>

      <!-- <p><a href="/2012/01/code-that-is-hard-to-be-covered-by-tests-is/">Read more...</a></p> -->
    </li>
    <hr/>
  </ul> 

  <!-- Pagination links -->
  <div id="post-pagination" class="pagination">

   

      <!--<a href="/">Previous Page</a>-->

    <p class="previous">
      <a href="/page2">Next Page</a>
    </p>

  </div>


              </div>
              <!-- #content -->
          </div>
          <!-- #primary .site-content -->
      </div>
      <!-- #main -->

      <footer class="site-footer" role="contentinfo">
        <div class="site-info">
            Powered by <a href="https://github.com/Sandra/Sandra.Snow" rel="generator">Sandra.Snow</a>.	
        </div>
        <!-- .site-info -->
    </footer>
    <!-- #colophon .site-footer -->
</div>
<!-- #page .hfeed .site -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src='/javascripts/prettify.js' type='text/javascript'></script>

<script type="text/javascript">
var _gaq = _gaq || [];

_gaq.push(['_setAccount', 'UA-655975-13']);
_gaq.push(['_trackPageview']);
        
(function () {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
})();
</script>

<script type='text/javascript'>
  $(function () {
	    $("pre code").parent().each(function () {
	      if (!$(this).hasClass("prettyprint")) {
	        $(this).addClass("prettyprint");
	        a = true
	    }
		});

	    prettyPrint();
	});
</script>
<script type="text/javascript" src="https://d1xnn692s7u6t6.cloudfront.net/widget.js"></script>
<script type="text/javascript">(function k(){window.$SendToKindle&&window.$SendToKindle.Widget?$SendToKindle.Widget.init({}):setTimeout(k,500);})();</script>
</body>
</html>
