@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>

@{
  Layout = "default.cshtml";
}

  <header>
  <div class="head-inner">
    <h1>About me</h1>
  </div>
  </header>

  <div class="fancy-container lightblue">

    <p>Software developer by day. Superhero by night.. oh! and software developer.</p>

    <p>
		Love tackling complicated problems in the form of complexity, scalability and maintainability.
		Enjoy single page applications, api integrations and messaging.
		Like to read, exercise and scuba dive.
	</p>

  </div>
