@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>
@using System.Collections.Generic
@{
  Layout = "default.cshtml";
}

<h1>Archives</h1>
<div class="fancy-container lightblue">
	@foreach(var year in Model.PostsGroupedByYearThenMonth)
	{

		  @foreach(var month in year.Value)
		  {
			@foreach(var post in month.Value)
			{
			  <li><a href="@post.Url">@post.Title</a> (<span>@post.Date.ToString("dd MMM yyyy")</span>)</li>
			}
		  }
	}
</div>
