{
    "blogTitle": "Johan Nilssons blog",
    "siteUrl": "http://www.johanilsson.com",
    "posts": "_posts",
    "layouts": "_layouts",
    "theme": "mine",
    "output": "../",
    "urlFormat": "yyyy/MM/slug",
    "directoryname": "",
    "copyDirectories": ["images", "javascripts", "stylesheets"],
    "processFiles": [{
        "file": "index.cshtml"
    }, {
        "file": "blog.cshtml",
        "loop": "Posts"
    }, {
        "file": "feed.xml",
        "loop": "RSS"
    }]
}