@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.PostViewModel>
@using System.Collections.Generic
@{
Layout = "default.cshtml";
}
<div class="post">
    <h1 itemprop="name">@Model.Title <div class="kindleWidget" style="display:inline-block;padding:3px;cursor:pointer;font-size:11px;font-family:Arial;white-space:nowrap;line-height:1;">
        <img src="/stylesheets/images/kindle.png" />
    </div></h1>
    <div class="meta">
        <span itemprop="author" style="display:none;">Johan Nilsson</span>
        <ul class="categories">
            @foreach(var category in Model.Categories) {
            <li><span>@category.Name</span></li>
            }
        </ul>
        @Html.RenderSeries()
    </div>
    <div itemprop="articleBody">
        @Html.Raw(Model.PostContent)
    </div>
</div>