@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>

@{
  Layout = "default.cshtml";
}

<div>

  <h1>Welcome to the home of Johan Nilsson.</h1>
  <p>A Software developer currently residing in the Caribbean.</p>

  <p>
    Love tackling complicated problems in the form of complexity, scalability and maintainability.
    Enjoy single page applications, api integrations and messaging.
    Likes to read, build software, exercise and scuba dive.
  </p>

</div>